<!DOCTYPE html>
<html>
    <head>
        <link href="/stylesheets/finder.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <h1>Current Friend</h1>
    <div>
        {{#each friends}}
           <p class="person" onclick="location.href='users/{{this}}';">{{this}}</p>
        {{/each}}
    </div>
    <h1>Friend Recommendation</h1>
    <div>
        <form action="/sent", method="POST">
            {{#each friendRecs}}
                <p class="person" onclick="location.href='users/{{this}}';">{{this}}</p>
                <input type="checkbox" name="{{this}}" id="{{this}}"><br>
            {{/each}}
            <input type="hidden" id="person" name="person" value="{{person}}">
            <br>
            <div style="text-align: center;"><input type="submit" id="submit" value="Send Friend Request"></div>
        </form>
    </div>
    <p>You can also see incoming friend requests in order to accept them</p>
    <form action="/incoming", method="POST">
        <input type="hidden" id="person" name="person" value="{{person}}">
        <div style="text-align: center;"><input type="submit" id="submit" value="See incoming requests"></div>
    </form>
    <p>Finally, you can also search for users in order to send them friend requests</p>
    <form action="/search", method="POST">
        <input type="hidden" id="person" name="person" value="{{person}}">  
        <div style="text-align: center;"><input type="text" id="person_part" name="person_part"></div><br>
        <div style="text-align: center;"><input type="submit" id="submit" value="Search for Friends"></div>
    </form>
    </body>
</html>